<div class="headline" style=" width: 100%; height: 40px; background: #eee; margin-bottom: 20px; border-top: solid 1px #ccc; border-bottom: solid 1px #ccc; ">
  <p style=" position: relative; top: 7px;  left: 10px; font-weight: 700; ">Use Search Criteria</p>
</div>

<%= form_tag admin_batches_path, method: :get do %>
  <div class="form-outline mb-4">
    <%= label_tag :school, "School", class: "form-label" %>
    <%= select_tag :school_id, options_for_select(School.accessible(current_user).pluck(:name, :id), params[:school_id]), { prompt: "--select school--", class: "form-select" } %>
  </div>

  <div class="form-outline mb-4">
    <%= label_tag :course, "Course", class: "form-label" %>
    <%= select_tag :course_id, options_for_select(Course.accessible(current_user).pluck(:name, :id), params[:course_id]), { prompt: "--select course--", class: "form-select" } %>
  </div>

  <div class="form-outline mb-4">
    <%= label_tag :batch_name, "Batch Name", class: "form-label" %>
    <%= text_field_tag :batch_name, params[:batch_name], class: "form-control" %>
  </div>

  <div>
    <%= submit_tag "Filter", class: "btn btn-primary btn-block mb-4" %>
  </div>
<% end %>
