<p style="color: green"><%= notice %></p>

<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="<%= root_path %>">Home</a></li>
    <li class="breadcrumb-item"><a href="<%= student_batches_path %>">My Batches</a></li>
    <li class="breadcrumb-item active"><a><%= @batch.name %></a></li>
  </ol>
</nav>

<div id="<%= dom_id @batch %>" class="col-12">
  <%= render @batch %>
<div>

<div class="container mt-5">
  <h3>Enrolled users and their progress:</h3>

  <table class="table table-fit table-bordered table-striped table-hover mt-4">
    <thead>
      <tr>
        <th>Email</th>
        <th>Progress</th>
      </tr>
    </thead>
    <tbody>
      <% if @batch.students.any? %>
        <% @batch.students.each do |student| %>
          <tr>
            <td><%= student.email %></td>
            <td>
              <div class="progress">
                <% progress = (1..100).to_a.sample %>
                <div class="progress-bar bg-warning" role="progressbar" style="width: <%= progress %>%;" aria-valuenow="<%= progress %>" aria-valuemin="0" aria-valuemax="100"><%= progress %>%</div>
              </div>
            </td>
          </tr>
        <% end %>
      <% else %>
        <tr style=" width: 100%; background: #eee;">
          <td style="font-weight: 600;text-align: center;" colspan="2">No enrolled users !!!</td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>