<%= form_with(model: batch, url: batch.persisted? ? admin_batch_path(batch) : admin_batches_path) do |form| %>
  <% if batch.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(batch.errors.count, "error") %> prohibited this batch from being saved:</h2>

      <ul>
        <% batch.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-outline mb-4">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="form-outline mb-4">
    <%= form.label :description, class: "form-label" %>
    <%= form.text_area :description, class: "form-control" %>
  </div>

  <div class="form-outline mb-4">
    <%= form.label :start_date, class: "form-label" %>
    <%= form.text_field :start_date, value: form.object.start_date&.strftime('%Y-%m-%dT%H:%M:%S'), class: "form-control", type: "datetime-local" %>
  </div>

  <div class="form-outline mb-4">
    <%= form.label :end_date, class: "form-label" %>
    <%= form.text_field :end_date, value: form.object.end_date&.strftime('%Y-%m-%dT%H:%M:%S'), class: "form-control", type: "datetime-local" %>
  </div>

  <div class="form-outline mb-4">
    <%= form.label :course, class: "form-label" %>
    <%= form.select :course_id, options_for_select(Course.accessible(current_user).select(:id, :name).pluck(:name, :id), form.object.course_id || params[:course_id]), { prompt: "Select Course ..." }, { class: "form-select" } %>
  </div>

  <div>
    <%= form.submit class: "btn btn-primary btn-block mb-4" %>
  </div>
<% end %>
