<div class="headline" style=" width: 100%; height: 40px; background: #eee; margin-bottom: 20px; border-top: solid 1px #ccc; border-bottom: solid 1px #ccc; ">
  <p style=" position: relative; top: 7px;  left: 10px; font-weight: 700; ">Use Search Criteria</p>
</div>

<%= form_tag admin_enrollments_path, method: :get do %>
  <div class="form-outline mb-4">
    <%= label_tag :school, "School Name", class: "form-label" %>
    <%= select_tag :school_id, options_for_select(School.accessible(current_user).pluck(:name, :id), params[:school_id]), { prompt: "--select course--", class: "form-select" } %>
  </div>

  <div class="form-outline mb-4">
    <%= label_tag :course, "Course", class: "form-label" %>
    <%= select_tag :course_id, options_for_select(Course.accessible(current_user).pluck(:name, :id), params[:course_id]), { prompt: "--select course--", class: "form-select" } %>
  </div>

  <div class="form-outline mb-4">
    <%= label_tag :batch, "Batch", class: "form-label" %>
    <%= select_tag :batch_id, options_for_select(Batch.accessible(current_user).pluck(:name, :id), params[:batch_id]), { prompt: "--select batch--", class: "form-select" } %>
  </div>

  <div class="form-outline mb-4">
    <%= label_tag :Student, "Student", class: "form-label" %>
    <%= select_tag :student_id, options_for_select(Role.student.users.pluck(:email, :id), params[:student_id]), { prompt: "--select status--", class: "form-select" } %>
  </div>

  <div class="form-outline mb-4">
    <%= label_tag :status, "Status", class: "form-label" %>
    <%= select_tag :status, options_for_select(Enrollment.statuses.keys.map{ |status| [status.titleize, status] }, params[:status]), { prompt: "--select student--", class: "form-select" } %>
  </div>

  <div>
    <%= submit_tag "Filter", class: "btn btn-primary btn-block mb-4" %>
  </div>
<% end %>
